[Desktop Entry]
Encoding=UTF-8
Name=PAWS
Comment=PAWS P2P Cryptocurrency
Comment[fr]=PAWS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PAWS, eşten eşe kriptografik sanal para birimi
Exec=paws-qt %u
Terminal=false
Type=Application
Icon=paws128
MimeType=x-scheme-handler/paws;
Categories=Office;Finance;
